@use '../../abstracts/_colors'

.styled-div
    width: 100%
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
    border-radius: 6px
    background-color: #FFFFFF
    margin-top: 10px
    height: 50px
    display: flex
    align-items: center
    justify-content: space-between
    align-items: center

.buttons-div
    margin-right: 10px
.checkbox-input
    display: flex
    align-items: center
.edit-button
    margin-left: 10px
    border-radius: 6px
    width: 35px
    border: transparent
    height: 30px
    background-color: colors.$edit-button-color

.delete-button
    margin-left: 10px
    border-radius: 6px
    width: 35px
    border: transparent
    height: 30px
    background-color: colors.$delete-button-color
