
.no-background-picked{
    background-color: transparent;
    color: rgb(45, 166, 224);
    margin-left: 10px;
    width: auto;
    border: transparent;
    height: 30px;
    text-decoration: underline;
    font-size: 20px;
}
.no-background {
    background-color: transparent;
    color: rgb(182, 183, 187);
    margin-left: 10px;
    width: auto;
    border: transparent;
    height: 30px;
    font-size: 20px;
}

  