main {
  display: flex;     
  flex-direction: column;          
  justify-content: center;    
  align-items: center; 
  margin-top: 20px;
}

body {
  background-color: #F2F2FA;
}
.button-group { 
  display: flex;
  margin-top: 15px;
}
 
.input-button-group {
  display: flex;
}
