main {
  display: flex;     
  flex-direction: column;          
  justify-content: center;    
  align-items: center; 
  margin-top: 20px;
}

.button-group { 
  display: flex;
}
 
.input-button-group {
  display: flex;
}
